.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

.vote-box {
  display: flex;
  align-items: flex-end;
}

.vote-box span{
  margin-right: 5px;
}
